#calcDiv{

}

table{
  background-color: lightgray;
  border-width: 10px;
  border-color: orange;
  text-align: center;
}

td {
}

#screen{
  column-span: 3;
}

tbody{

}



#display{

}

form{

}

#screen{

}

.button{
background-color: gray;
font-size: 60px;
min-width: 90px;
min-height: 90px
display: inline;
padding: 0;
}

#clear{

}

#sum{

}

.operators{

}
