#calcDiv{

}

table{
  background-color: lightgray;
  border-width: 10px;
  border-color: orange;
}

thead{

}

tbody{

}


#display{

}

form{

}

#screen{

}

.button{
background-color: lightgray;
font-size: 60px;
}

#clear{

}

#sum{

}

.operators{

}
