#calcDiv{

}

table{
  background-color: black;
  text-align: center;
}


#screen{
  height:75px;
  font-size: 25pt;
}

.button{
background-color: #0060ff;
font-size: 60px;
font-style: italic;

min-width: 90px;
min-height: 90px
display: inline;
padding: 0;
}

#clear{
background-color: red;
}

.operators{
  background-color: orange;
}

#sum{
  background-color: orange;
}

.button:hover{
  cursor: pointer;
    }
